#groepen-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.groep-card {
  background-color: #fff;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-subtle);
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform var(--transition-fast);
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
.groep-card:hover {
  transform: scale(1.03);
}

.groep-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.groep-card p {
  font-size: 14px;
  color: var(--navy-light);
  margin-bottom: 15px;
}

.groep-card button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color var(--transition-standard);
}

.groep-card button:hover {
  background-color: #c0392b;
}
#zoek-groep {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 60%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
main {
  padding: 20px;
}